name: "unit-tests"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - run: yarn install --frozen-lockfile
      - run: |
          yarn lint
          yarn test

  example-usage:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - uses: ./
        id: has-changed-path
        with:
          paths: src/ tests/

      - if: steps.has-changed-path.outputs.changed == 'true'
        run: echo 'Code in src/ or tests/ has changed!'
